<!DOCTYPE html>
<html>
  <head>
    <meta name="data-spm" />
    <meta charset="utf-8" />
    <meta httpequiv="X-UA-Compatible" content="IE=edge" />
    <meta name="version" content="<%=require('../package.json').version%>" />
    <meta name="publishTime" content="<%=Date()%>" />
    <meta
      name="description"
      content="<%=require('../package.json').description%>"
    />
    <meta
      name="viewport"
      content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
    />
    <title>Title</title>
    <link rel="icon" href="" type="image/png" />
    <link rel="shortcut icon" href="" type="image/png" />
    <link
      rel="stylesheet"
      href="//at.alicdn.com/t/font_467405_5witw82lx3c.css"
    />
    <!--[if lt IE 9]>
      <script
        src="//g.alicdn.com/alishu/common/0.0.15/fuck-ie.js"
        data-browser="ie9"
      ></script>
      <script src="//f.alicdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//g.alicdn.com/aliyun/console/1.3.32/vendor/respond/dest/respond.min.js"></script>
    <![endif]-->
    <script>
      function getStyle(url) {
        const link = document.createElement('link');
        link.rel = 'stylesheet';
        link.href = `${url}?time=${Date.now()}`;
        document.head.appendChild(link);
      }
      function loadStyles(url) {
        if (!url) {
          return;
        }
        if (Array.isArray(url)) {
          url.forEach(value => {
            getStyle(value);
          });
        } else {
          getStyle(url);
        }
      }
      // config this css url
      const mainCssUrl = [
        'https://g-assets.daily.taobao.net/${gitlab_group_name}/${gitlab_group_project_name}/${version}/vendors~main.css',
        'https://g-assets.daily.taobao.net/${gitlab_group_name}/${gitlab_group_project_name}/${version}/main.css',
      ];
      loadStyles(mainCssUrl);
    </script>
  </head>

  <body>
    <!--[if lt IE 9]>
      <div style="width:100%;height:60px;">
        <p>为了保障您的完美体验，请升级您的浏览器至Internet Explorer 9以上。</p>
        <p>推荐使用Chrome或者Firefox等现代浏览器</p>
      </div>
    <![endif]-->
    <div id="app"></div>
    <script>
      function getJS(url) {
        const script = document.createElement('script');
        script.type = 'text/javascript';

        script.onerror = function(error) {
          console.error(`${url}: load error!`, error);
        };

        script.src = `${url}?time=${Date.now()}`;
        document.body.appendChild(script);
      }
      function loadScripts(url) {
        if (!url) {
          return;
        }
        if (Array.isArray(url)) {
          for (const currentValue of url) {
            if (Array.isArray(currentValue)) {
              /* eslint no-await-in-loop:0 */ /* design to wait to execute one by one */
              currentValue.map(value => getJS(value));
            } else if (currentValue) {
              getJS(currentValue);
            }
          }
        } else {
          getJS(url);
        }
      }
      // config this js url
      const mainJsUrl = [
        'https://g-assets.daily.taobao.net/${gitlab_group_name}/${gitlab_group_project_name}/${version}/runtime~main.js',
        'https://g-assets.daily.taobao.net/${gitlab_group_name}/${gitlab_group_project_name}/${version}/vendors~main.js',
        'https://g-assets.daily.taobao.net/${gitlab_group_name}/${gitlab_group_project_name}/${version}/main.js',
      ];
      loadScripts(mainJsUrl);
    </script>
  </body>
</html>
