<!DOCTYPE html>
<html>
  <head>
    <meta name="data-spm" />
    <meta charset="utf-8" />
    <meta httpequiv="X-UA-Compatible" content="IE=edge" />
    <meta name="version" content="def_cdn" />
    <meta name="description" content="description" />
    <meta
      name="viewport"
      content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
    />
    <title>Title</title>
    <link rel="icon" href="" type="image/png" />
    <link rel="shortcut icon" href="" type="image/png" />
    <!--[if lt IE 9]>
      <script
        src="//g.alicdn.com/alishu/common/0.0.15/fuck-ie.js"
        data-browser="ie9"
      ></script>
      <script src="//f.alicdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//g.alicdn.com/aliyun/console/1.3.32/vendor/respond/dest/respond.min.js"></script>
    <![endif]-->
    <script>
      window.ENV = 'daily';
      window.buildManifestUrl =
        'https://g-assets.daily.taobao.net/${gitlab_group_name}/${gitlab_group_project_name}/${version}/build-manifest.json';
    </script>
    <script src="https://g-assets.daily.taobao.net/g-fe/cdn/0.0.1/loadResources.js"></script>
  </head>

  <body>
    <!--[if lt IE 9]>
      <div style="width:100%;height:60px;">
        <p>为了保障您的完美体验，请升级您的浏览器至Internet Explorer 9以上。</p>
        <p>推荐使用Chrome或者Firefox等现代浏览器</p>
      </div>
    <![endif]-->
    <div id="app"></div>
    <!-- <script
      type="text/javascript"
      src="https://g-assets.daily.taobao.net/police-brain/data-exploration-fe/1.6.0/main.js?time=<%=Date.now()%>"
    ></script> -->
  </body>
</html>
