{
  "extends": ["cool"],
  "parser": "babel-eslint",
  "rules": {
    "no-unused-vars": ["error", { "varsIgnorePattern": "Taro" }],
    "react/no-deprecated": 0
  },
  "globals": { "my": true, "dd": true, "Page": true, "Component": true }
}
