<!DOCTYPE html>
<html>

<head>
  <link rel="manifest" href="https://dev.g.alicdn.com/gitgroup/gitname/version/manifest.json">
  <link rel="icon" href="//www.aliyun.com/favicon.ico">
  <link rel="shortcut icon" href="//www.aliyun.com/favicon.ico">
  <link rel="stylesheet" href="//at.alicdn.com/t/font_467405_xnwhcbx8b3.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
  <title>UMS</title>
  <script>window.routerBase = "/";</script>
  <script async src="https://dev.g.alicdn.com/gitgroup/gitname/version/pwacompat.min.js"></script>
  <script>
    window.buildManifestUrl =
      'https://dev.g.alicdn.com/gitgroup/gitname/version/asset-manifest.json';
  </script>
  <script src="https://dev.g.alicdn.com/g-fe/cdn/0.0.2/loadUmiResources.js"></script>
</head>

<body>
  <div id="root"></div>
</body>

</html>